.vista {
    display: none;
}

.activa {
    display: block;
}

body {
    background-image: url('../imagenes/playa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navPrincipal {
    display: none;
}

#navPrincipal.visible {
    display: block;
}

/* Juego Tycoon */
#game-canvas {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    background: transparent; /* Sin fondo para que no se vea el recuadro */
    border: none; /* Sin bordes */
}

.hud {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.robot-sprite, .trash-sprite {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: contain;
    transform: translate(-50%, -50%);
    user-select: none;
}

.trash-sprite.collected {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in;
}